.container{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 4px;
}

.input{
    color: #000;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 12px;
}