.card_car{
    margin: 25px;
    padding: 0;
    width: 30%;
    height: 200px;
    border: solid 2px #000 ; 
    float:left
}

.card_car h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
    color: #101010;
}

.card_car p{
    
    font-size: 20px;
    font-weight: 600;
    text-indent: 20px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 2;
    color: #525252;

}